version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    # optional: depends_on:
    #   - client

  client:
    build:
      context: ./src/SolarSystem.Api/SolarSystem.Api.Client
      dockerfile: Dockerfile
    ports:
      - "80:80"
